{
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-astro"],
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSameLine": true,
  "printWidth": 200
}
