@import './simplebar';
@import './timeline';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply inline-flex h-10 items-center rounded-full px-5 py-3 text-sm font-medium leading-none;
  }
  .btn-dark {
    @apply inline-flex h-10 rounded-full bg-black px-5 py-3 text-sm font-medium uppercase leading-none text-white;
  }
  .section-title {
    @apply text-xl font-medium uppercase text-black md:text-2xl lg:text-3xl;
  }
  .section-caption {
    @apply mb-2 block font-display text-md uppercase text-black md:mb-6 md:text-lg;
  }
}

@layer utilities {
  .flex-stack {
    @apply flex items-center justify-between;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE и Edge */
    scrollbar-width: none; /* Firefox */
  }

  .link-underline {
    @apply border-b-0 pb-[3px];
    background-image: linear-gradient(transparent, transparent), linear-gradient(#1e1e1e, #1e1e1e);
    background-size: 0 1.5px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.5s ease-in-out;
  }

  .link-underline:hover {
    background-size: 100% 1.5px;
    background-position: 0 100%;
  }
}

@layer base {
  strong {
    @apply text-black;
  }

  body {
    @apply min-w-full;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium uppercase text-black;
  }

  table {
    @apply w-full text-left text-black;
  }

  table thead {
    @apply border-none bg-[#EEEEEF] text-md font-bold uppercase;
  }

  table thead tr td:first-child {
    @apply whitespace-nowrap px-6 py-4;
  }

  table tbody {
    @apply text-sm;
  }

  table tbody td:first-child {
    @apply w-[240px] whitespace-nowrap px-6 py-4 font-medium;
  }

  table tbody td:last-child {
    @apply min-w-[300px] px-6 py-4;
  }

  table tbody tr:nth-child(even) {
    @apply bg-[#EEEEEF];
  }
}

.react-player__preview {
  position: relative;
}

.react-player__preview .injected-svg {
  @apply h-[65px] w-[65px];
}

.react-player__preview::after {
  content: '';
  position: absolute;
  @apply h-full w-full bg-black/40;
}

.react-player__preview > * {
  position: relative;
  z-index: 2;
}

.dates-wrapper {
  margin-right: calc((100% - 100vw) / 2);
}

@media (min-width: 768px) {
  .react-player__preview .injected-svg {
    @apply h-[80px] w-[80px];
  }
}
