---
import Layout from '../layouts/Layout.astro';
import ContactsForm from '@/components/ContactsForm';
---

<Layout >
	<div class='container py-[72px] lg:pt-25'>
		<div class='mb-20'>
			<span class='section-caption'>We are open for you</span>
			<div class='flex flex-col justify-between lg:flex-row gap-8 lg:gap-10 mb-10 md:mb-16 lg:mb-25'>
				<h1 class='text-xl md:text-2xl xl:text-3xl max-w-[450px]'>Contact us <span class='text-gray-3'>for more</span></h1>
				<p class='max-w-[590px]'>To contact us, please use the contact form, email or call us at the phone number.</p>
			</div>
		</div>
		<div class='flex justify-between flex-wrap gap-10 xl:gap-14 mb-20 md:mb-30'>
			<div class='flex flex-col gap-8 max-w-[380px]'>
				<span class='uppercase font-medium text-gray-4 text-md'>Email</span>
				<div class='text-black text-lg md:text-xl font-semibold'>
					<a href='mailto:jimpuhr@cmiworld.org'>jimpuhr@cmiworld.org</a>
					<a href='mailto:brendapuhr@gmail.com'>brendapuhr@gmail.com</a>
				</div>
			</div>
			<div class='flex flex-col gap-8 max-w-[390px]'>
				<span class='uppercase font-medium text-gray-4 text-md'>location</span>
				<span class='text-black text-lg md:text-xl font-semibold'>PO Box 880363 <br /> Port St Lucie, FL 34988</span>
			</div>
			<div class='flex flex-col gap-8 max-w-[350px]'>
				<span class='uppercase font-medium text-gray-4 text-md'>call us</span>
				<a class='text-black text-lg md:text-xl font-semibold text-nowrap' href='tel:+19042330346'>+1 (904) 233-0346</a>
			</div>
		</div>
		<ContactsForm client:load />
	</div>
</Layout>
