---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/home/Hero.astro';
import { Map } from '@/components/home/Map';
import Movement from '@/components/home/Movement.astro';
import Vision from '@/components/home/Vision.astro';
import Involved from '@/components/home/Involved.astro';
import Donations from '@/components/Donations.astro';
import Join from '@/components/Join';
import map from '@/assets/europe.svg';
---

<Layout title='Welcome to Astro.'>
	<Hero />
	<Map client:only='react'>
		<Image src={map} alt='map' class="max-w-none"  />
	</Map>
	<Movement />
	<Vision />
	<Involved />
	<div class='container donations'>
		<Donations />
	</div>
	<Join client:visible />
</Layout>
