---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/home/Hero.astro';
import { Map } from '@/components/home/Map';
import Movement from '@/components/home/Movement.astro';
import Vision from '@/components/home/Vision.astro';
import Involved from '@/components/home/Involved.astro';
import Donations from '@/components/Donations.astro';
import Join from '@/components/Join';
---

<Layout>
	<Hero />
	<div class='h-[950px] mb-30 md:mb-25'><Map client:only='react' /></div>
	<Movement />
	<Vision />
	<Involved />
	<Donations />
	<Join client:visible />
</Layout>
