---
import { Button } from '../ui/button';
import { currentYear } from '@/utils/currentYears';
---

<section class="py-16 md:py-20 lg:py-36 bg-[#F4F4F4] vision">
  <div class="flex flex-col text-center items-center gap-6 md:gap-10 container text-black">
    <span class="text-center font-display font-medium md:font-normal uppercase text-md md:text-lg">Our Vision {currentYear}</span>
    <p class="uppercase text-[26px] leading-[31px] md:text-2xl lg:text-3xl font-medium text-black">
      Reaching cities, Starting churches, Changing nations. This year we will help start between <span class="text-gray-3">SEVEN AND TEN more new churches.</span>
    </p>
    <p class="text-sm">It’s changing lives, families, towns, and cities...</p>
    <Button variant="outlineDark" link="/our-vision">Full vision 2024</Button>
  </div>
</section>
