<div class='join container my-20 lg:my-30'>
	<div class='flex flex-col gap-8 border-b border-t border-black py-20'>
		<h2 class='text-center text-2xl uppercase lg:text-3xl'>Receive our e-letter</h2>
		<p class='mx-auto max-w-[456px] text-center text-xs text-black sm:text-sm'>
			If you would like to receive out e-letter that we sent out regularly (about every 2 months) about our ministry just give sign up below
		</p>
		<div class='mx-auto w-full max-w-[387px]'>
			<div class='ctct-inline-form' data-form-id='52d7608f-0ed9-47bf-885f-bd2a8393a8ad'></div>
		</div>
	</div>
</div>

<script is:inline>
	var _ctct_m = '00a2182e38d16bb79f9f5557e6625eec';
</script>

<script is:inline id='signupScript' src='https://static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js'></script>

<style is:global>
	.ctct-gdpr-text {
		display: none;
	}
	.ctct-form-text {
		display: none;
	}
	.ctct-form-header {
		display: none;
	}
	.ctct-form-button {
		background-color: transparent !important;
		color: #1e1e1e !important;
		font-size: 20px !important;
		padding: 10px 10px !important;
		border-color: #1e1e1e !important;
		border-radius: 18px;
		max-width: 200px;
		margin: 0 auto;
	}
	.ctct-form-button:hover {
		background-color: #1e1e1e !important;
		color: #eee !important;
	}
</style>
