<div class='join container my-20 lg:my-30'>
	<div class='flex flex-col gap-8 border-b border-t border-black py-20'>
		<div class='mx-auto text-center relative'>
			<div class='ctct-inline-form' data-form-id='52d7608f-0ed9-47bf-885f-bd2a8393a8ad'></div>
		</div>
	</div>
</div>

<script is:inline>
	var _ctct_m = '00a2182e38d16bb79f9f5557e6625eec';
</script>

<script is:inline id='signupScript' defer async src='https://static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js'></script>

<script>
	document.addEventListener('DOMContentLoaded', () => {
		setTimeout(() => {
			document.querySelector('.ctct-form-element').setAttribute('placeholder', 'Email');
		}, 2000);
	});
</script>

<style is:global>
	.ctct-form-label {
		display: none !important;
	}
	.ctct-form-footer {
		display: none !important;
	}
	.ctct-form-defaults {
		padding: 0 !important;
	}
	.ctct-form-element {
		outline: none !important;
		border: 1px solid #1e1e1e !important;
		box-shadow: none !important;
		margin: 15px 0;
	}
	.ctct-form-errorMessage {
		display: none !important;
	}

	#gdpr_text {
		display: none !important;
	}
</style>
