---
const { title } = Astro.props;
import Header from '@/components/common/Header';
import Head from '@/components/common/Head.astro';
import Footer from '@/components/common/Footer.astro';
import { WelcomeModal } from '@/components/WelcomeModal';
import '@/styles/globals.scss';

const countries = await import('@/data/countries.json');
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang='en' class='scroll-smooth antialiased'>
	<Head title={title} />
	<body class='font-sans text-md md:text-base text-gray-3'>
		<Header client:load currentPath={currentPath} countries={countries} />
		<main class='flex-auto pt-[82px] md:pt-25 overflow-x-hidden'><slot /></main>
		<Footer />
		<WelcomeModal client:idle />
	</body>
</html>
