---
const { title } = Astro.props;
import Header from '@/components/common/Header';
import Head from '@/components/common/Head.astro';
import Footer from '@/components/common/Footer.astro';
import { WelcomeModal } from '@/components/WelcomeModal'
import { Image } from 'astro:assets'
import '@/styles/globals.scss';
const countries = await import('@/data/countries.json');
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang='en' class='scroll-smooth h-full antialiased'>
	<Head title={title} />
	<body class='font-sans text-md md:text-base text-gray-3 min-w-full'>
		<div class='min-h-full flex flex-col'>
			<Header client:load currentPath={currentPath} countries={countries} />
			<main class='flex-auto pt-[82px] md:pt-25 overflow-x-hidden'><slot /></main>
			<Footer />
			<a href="/donation" aria-label='donation button' class='fixed right-10 bottom-10 hover:scale-105 transition-transform z-50 border-2 border-white rounded-full'>
				<Image src={import('@/assets/give.svg')} alt='donations' />
			</a>
		</div>
		<WelcomeModal client:idle />
	</body>
</html>
